<div class="user-details">
    <h1> About Me </h1>
    <p> I love building and tinkering with things, nothing makes me happier than
        seeing the thing you built just work!
    <p>In my spare time, I also enjoy
        <a href="https://www.instagram.com/keanie.leanie.cooking/" target="_blank">
            cooking! <i class="icon fa fa-instagram"></i>
        </a>
    </p>
    </p>
    <h3> What I Have To Offer </h3>
    <p>I am self-motivated and eager to learn whatever that is required to get the job done. I also keep up with
        the latest tools and technologies.</p>
</div>
<div class="user">
    <div class="tech">
        <h2>Design</h2>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg" />
        <img src="assets/icons/materialize.svg" class="square" title="Materialize CSS" />
    </div>
    <div class="tech">
        <h2>Code</h2>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-original.svg" />
        <img src="assets/icons/ServiceNow_logo.svg" />
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <i class="devicon-git-plain"></i>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" />
        <i class="devicon-ubuntu-plain-wordmark colored"></i>
        <i class="devicon-bash-plain colored" title="bash"></i>
    </div>
</div>