<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="mountains" src="{{ " /assets/img/etf-overlap.png" | prepend: site.baseurl }}" />
        <div class="ribbon ribbon-top-left"><span>WIP</span></div>
    </div>
    <div class="contents">
        <h3> ETF Overlap </h3>
        <ul>
            <li> React</li>
            <li> MUI Core (formerly Material UI)</li>
            <li> Selenium, Python</li>
        </ul>
        <p>Simple tool to measure overlap between two equity ETFs by comparing the
            weight of the aggregate holdings that the ETFs have in common. Currently
            only support Vanguard and iShares ETFs.</p>
        <a class="project-link" href="https://keanweng97.github.io/etf-overlap/" target="_blank">Check it out</a>
        <a class="project-link" href="https://github.com/keanweng97/etf-overlap" target="_blank">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ " /assets/img/email-simulator.png" | prepend: site.baseurl }}" />
        <div class="ribbon ribbon-top-left"><span>WIP</span></div>
    </div>
    <div class="contents-right">
        <h3> Email Simulator </h3>
        <ul>
            <li> Angular</li>
            <li> Angular Material</li>
        </ul>
        <p>Ever wonder if your email recipients can or cannot see each other?
            This tool generates a preview of how your recipient headers will
            appear to each and every recipient.
        </p>
        <a class="project-link" href="https://keanweng97.github.io/email-simulator/" target="_blank">Check it out</a>
        <a class="project-link" href="https://github.com/keanweng97/email-simulator" target="_blank">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="mountains" src="{{ " /assets/img/perks.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3> UASU Perks </h3>
        <ul>
            <li> Django</li>
            <li> Materialize CSS</li>
            <li> OAuth</li>
        </ul>
        <p>Worked in a team of 6 to develop the base web application for the
            University of Alberta Students’ Union to run and track the gamification
            campaign of student engagement.</p>
        <a class="project-link" href="https://perks.uasu.ca/" target="_blank">Check it out</a>
        <a class="project-link" href="https://github.com/keanweng97/su-gamification/wiki/Storyboard-Panels" target="_blank">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="{{ " /assets/img/konnections.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> Konnections </h3>
        <ul>
            <li> React</li>
            <li> Django</li>
            <li> REST API</li>
        </ul>
        <p>Worked in a team of 5 to build a distributed peer-to-peer social
            network to provide users with a decentralized, privacy-focused and
            user-owned platform.</p>
        <a class="project-link" href="https://konnection-client.herokuapp.com/login" target="_blank">Check it out</a>
        <a class="project-link" href="https://github.com/C404TEAMW21/CMPUT404_PROJECT" target="_blank">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </a>
    </div>
</div>